font-family: 'Lora', serif;
font-family: 'Fenix', serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Crimson Text', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Muli', sans-serif;

* {
    box-sizing: border-box;
}


@font-face {
    font-family: langdon;
    src: url(../fonts/Langdon.otf);
}

@font-face {
    font-family: GT;
    src: url(../fonts/GT.otf);
}

@font-face {
    font-family: GT-light;
    src: url(../fonts/GTLight.otf); 
}

@font-face {
    font-family: adobe-garamond;
    src: url(../fonts/AdobeGaramond.ttf);
}

@font-face {
    font-family: product-sans;
    src: url(../fonts/ProductSansRegular.ttf);
}

@font-face {
    font-family: product-sans-bold;
    src: url(../fonts/ProductSansBold.ttf);
}

@font-face {
    font-family: product-sans-italic;
    src: url(../fonts/ProductSansItalic.ttf);
}

@font-face {
    font-family: product-sans-bold-italic;
    src: url(../fonts/ProductSansBoldItalic.ttf);
}

strong{
    font-weight: 600;
}

hr { 
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-top: 1px solid #ccc;
    line-height: 1.6em;
}


hr.navline{
    margin-top: -2.5em;
}


#headshot{
    border-radius: 50%;
    width:150px;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    margin:auto;
}

body, html {
    height: 100%;
}

.crop{
  height: 300px;
  overflow: hidden;
  position: relative; 
}

.photography-gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.crop img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  
}

/*
.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}
*/


#bg { 
    /* The image used */
    background-image: url("../images/landingpage.jpg");

    /* Full height */
     height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

}

.main-container{
    min-height: 100%;
    font-family: Source Sans Pro;
}

#Resume{
    font-family: Source Sans Pro;
    line-height: 1.5;
}

#Resume p{
    margin: 0;
}

#Resume strong{
    font-size:16px;
}


.cursor{
    font-family: helvetica;
    font-weight: 100;
}

#welcome {
    color: white;
    line-height: 1.0;
    position: absolute;
    left: 18%;
    top: 15%;
}

#innerWelcome{
    font-family: product-sans-bold;
    font-size: 7vw;
}

#subWelcome{
    font-family: product-sans;
    font-weight: 200;
    font-size: 4vw;
}

#learn-more{
    border: 2px solid white;
    margin: 0 auto;
    padding: 9px 17px;
    color : white;
    font-family: Muli;
    letter-spacing: 0.2em;
    font-size: 9px;
    transition: background-color 0.3s ease;
    background-color: transparent;  
}

.btn-wrapper button{
    border: 2px solid #333333;
    margin: 0 auto;
    padding: 9px 17px;
    color : #333333;
    font-family: Muli;
    letter-spacing: 0.2em;
    font-size: 11px;
    transition: background-color 0.3s ease;
    background-color: transparent;  
}

.btn-wrapper button:hover{
    color : white;
    background-color: #333333;
}

.map-label{
    font-family: Source Sans Pro;
}

#travel-icon {
    width: 12px;
    height: 12px;
    margin-top:4px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: hsl(202, 77%, 59%);
}

#destination-icon {
    width: 12px;
    height: 12px;
    margin-top:4px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: hsl(0, 65%, 69%);
;
}


.fa {
    padding: 6px;
    font-size: 14px;
    width: 27px;
    height: 27px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #333333;
    color:white;
}

/*
.fa-github{
    font-size: 18px;
    padding:5px;
}
*/

.footer{
    padding: 10px 15px;
}

#learn-more:hover{
    color : #333333;
    background-color: white;
    
}

.btn-wrapper{
    text-align: center;
}

#home-btn{
    top: 35%;
    width: 100%;
    position: absolute;
}

#home-btn button:hover {
    color: #333 !important;
}





.navbar-default {
    background-color:transparent;
    border: none;
    font-family: Muli;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 100;
}

.navbar{
   margin-bottom: 0px !important;
}

.navbar-nav li{
    padding: 0px 5px;
    background-color: white;
}

.navbar-default a {
    color: #aeaeae !important;
    transition: 0.3s ease !important;
}

.navbar-default a.active {
    color: #333 !important;
}

.navbar-default a:hover {
    color: #333 !important;
    font-size:12.5px;
}


.navbar-default .navbar-nav>li>a, .navbar-default a,{
    color: #AAAAAA;
}

.navbar-default .navbar-nav>li>a.active, .navbar-default a{
    color: #333333;
    background-color: white;
}

.description{
       padding-top: 10px; 
 }


@media only screen and (min-width: 576px) {

    #bg {
        height: 70%; 
    }
    
    #home-btn{
        top: 48%;
    }
    
    #welcome {
    left: 18%;
    top: 22%;
    }
    
    #learn-more{
        padding: 9px 17px;
        font-size: 9px;
    }
    

}

@media only screen and (min-width: 768px) {
    .description{
       padding-top: 80px; 
    }

    
    .column {
    -ms-flex: 33.333%;
    flex: 33.333%;
    max-width: 33.333%;
    padding: 0 4px;
    }
    
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    
    
    #bg {
        height: 90%; 
    }
    
    #home-btn{
        top: 63%;
    }
    
    #welcome {
    left: 18%;
    top: 29%;
    }
    
    #learn-more{
        padding: 14px 25px;
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px) {
    .description{
       padding-top: 150px; 
    }
    
    #bg {
        height: 100%; 
    }
    
    #home-btn{
        top: 70%;
    }
    
    #learn-more{
        padding: 18px 34px;
        font-size: 15px;
    }

}

#about-me{
    min-height: 300px;
}

h2{
    font-family: product-sans-bold;
    font-size: 50px;
    color: #333333;
    text-align: center;
}

.graphic{
    width:100%;
}



.graphic:hover{
    cursor:pointer;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.9);
}

/* Modal Content */
.modal-contents {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding-bottom: 0px;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close-btn {
  color: rgb(255,255,255,0.5);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  font-weight: bold;
}

#graphic-modal{
    height: 100%;
    background-color: rgb(0,0,0,0.9);
}

.close-btn:hover,
.close-btn:focus {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 32px;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: rgb(255,255,255,0.5);
  font-weight: bold;
  font-size: 40px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: rgb(255,255,255,0.5);
  font-weight: bold;
  font-size: 40px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

a:hover{
    text-decoration: none;
    font-size:105%;
    transition: 0.3s ease;
    cursor: pointer;
}

.footer a:hover, .modal a:hover{
    color: white;
}

img:hover{
    cursor:pointer;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  font-size:42px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: rgb(255,255,255,0.5);
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 10%;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: transparent;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}



.graphic-row>div { 
    margin:0;
    padding: 10px;
    float:left;
    
}


.geofilter {
    width:100%;
    padding: 7.5px
}

.geofilter:hover {
    cursor:pointer;
}


