<div id = "About" class = "container" style = "padding-top: 80px; padding-bottom: 100px">
    
    <div class = "col-sm-4" style = "padding-top: 25px"><img id = "headshot" src="../images/headshot.png" alt="Headshot"></div>
    <div class = "col-sm-8">
        <p style= "font-size: 16px"><b>Hi, I'm Nick</b></p>
        <br>
        <p><b>Formally</b>, I'm an electrical (and software) engineering student at Santa Clara University</p>
        <p><b>Informally</b>, I'm someone who loves sports, the outdoors, and good company</p>
        <br>
        <p>My passions include design, web development, traveling, photography, and music, and I love working on projects that bring aesthetic design and interactivity to the forefront</p>
        
        <p>I'm always seeking to be inspired and love to meet new people, so let's get in touch!</p> 
        </div>
</div>