<div id = "sub-nav" class = "container" style = "padding-top: 35px; padding-bottom: 5px; text-align: center">    
    <nav class="navbar navbar-default">
            <div class = "col-sm-4"><a href="#/portfolio/photography">PHOTOGRAPHY</a></div>
            <div class = "col-sm-4"><a href="#/portfolio/graphic-design" class = "active">GRAPHIC DESIGN</a></div>
            <div class = "col-sm-4"><a href="#/portfolio/projects">PROJECTS</a></div>
        </nav>
</div>

<div id = "Graphics" class = "container" style = "text-align: center; margin-top:30px">
        <div class = "col-sm-10 col-sm-push-1">
            <div class = "row" style = "padding-bottom: 100px">
                <div class = "col-sm-6">

                    <img class = "graphic" src="../images/graphics/graphics/Eweek2018.jpg">
                </div>
                <div class = "description col-sm-6" style = "text-align: center;">
                    <a id ="t-shirt">T-Shirt</a> design submission for Santa Clara University's 2018 eWeek. 
                    <br>
                    <br>
                    Presents the idea that each of the fields of engineering offered at Santa Clara contribute to the blueprint of the university, making it what it is.
                </div>

            </div>
            <div class = "row" style = "padding-bottom: 100px">
                <div class = "col-sm-6">
                    <img class = "graphic" src="../images/graphics/graphics/ioo.jpg" style = "border:1px solid #ddd;width:100%">
                </div>
                <div class = "description col-sm-6" style = "text-align: center;">
                      Conceptual marketing and logo design for a dynamic scheduling app my friend wanted to make called "In Or Out."
                </div>

            </div>
            
            <div class = "row" style = "padding-bottom: 100px">
                <div class = "col-sm-6">
                    <img class = "graphic" src="../images/graphics/graphics/musc132.jpg" >
                    <img class = "graphic" src="../images/graphics/graphics/handcuffed-man.jpg">
                </div>
                <div class = "description col-sm-6" style = "text-align: center;">
                    Final project for my History of Hip Hop Class.
                    <br>
                    <br>
                    Presents the idea that despite their image, gangster rappers helped inspire oppressed blacks to fight against systematic racism and police brutality. 
                    
                </div>

            </div>
            
            <div class = "row" style = "padding-bottom: 100px">
                <div class = "col-sm-6">
                    <img class = "graphic" src="../images/graphics/graphics/warriors.jpg">
                </div>
                <div class = "description col-sm-6" style = "text-align: center;">
                    Poster of the Golden State Warriors' all-stars that I created and had printed for my own personal use.
                </div>

            </div>
            
            <div class = "row" style = "padding-bottom: 50px">
                <div style = "text-align: center; width:100%">
                    Snapchat&#x2122; Geofilters 
                </div>
                
                <div style = "text-align: center; width:100%; color: #999">
(For you non-snapchatters, geofilters are location-based graphics that can be overlayed in your pictures when you use Snapchat)
                </div>

            </div>
            
            <div class = "row" style = "padding-bottom: 50px">
                <div style="width: 100%; font-size: 15px">
                    <div style="width: 33.33%; float:left"><b>3.2 Million</b></div>
            <div style="width: 33.33%; float:left"><b>149.4 Million</b></div>
            <div style="width: 33.33%; float:left"><b>12</b></div>
                   
                
                </div>
                
                <div style="width: 100%; color: #999">
                     <div style="width: 33.33%; float:left">Total Uses</div>         
                    <div style="width: 33.33%; float:left">Total Views</div>
                    <div style="width: 33.33%; float:left">Filters Active</div>
                </div>

            </div>
            
            <div class = "row">
            <div class = "col-sm-4" style="padding:0">             
                
                    <img class = "geofilter" src="../images/graphics/geofilters/SantaClara.jpg">
                <img class = "geofilter" src="../images/graphics/geofilters/tahoegeo1.jpg">
                    <img class = "geofilter" src="../images/graphics/geofilters/HMB.jpg">
                          <img class = "geofilter" src="../images/graphics/geofilters/scu.jpg">
            </div>  
                
            
            <div class = "col-sm-4" style="padding:0"> 
                    <img class = "geofilter" src="../images/graphics/geofilters/San-Mateo.jpg">
                <img class = "geofilter" src="../images/graphics/geofilters/tahoegeopreview.jpg">
                    <img class = "geofilter" src="../images/graphics/geofilters/dotd.jpg">
                 <img class = "geofilter" src="../images/graphics/geofilters/the-bluff.jpg">
                
                
                  
                   
            </div>  
                    
            <div class = "col-sm-4" style="padding:0"> 
                    <img class = "geofilter" src="../images/graphics/geofilters/San-Jose.jpg">
                <img class = "geofilter" src="../images/graphics/geofilters/bend.jpg">
                    <img class = "geofilter" src="../images/graphics/geofilters/bball.jpg">
                 <img class = "geofilter" src="../images/graphics/geofilters/UP.jpg">
                        
            </div> 
            </div>
            
            <div class = "row">
                <div class = "col-sm-4" style="padding:0"> 
                    <img class = "geofilter" src="../images/graphics/geofilters/BELMONT.jpg">
                </div>
                <div class = "col-sm-4" style="padding:0"> 
                    <img class = "geofilter" src="../images/graphics/geofilters/GGBpreview.jpg">
                </div>
                <div class = "col-sm-4" style="padding:0">
                    <img class = "geofilter" src="../images/graphics/geofilters/sf.jpg"> 
                </div>
            </div>
            
            
            <div style="width:100%; text-align: right; margin-bottom: 30px" > 
                **These last two were rejected by Snapchat (but I still think they look good)
            </div> 
            
            
            <div id = "graphic-modal" class = "modal" style="display: none; padding-top:30px">
                <a id ="graphic-close" class="close-btn cursor">&times;</a>
                <img id = "img-holder" style = "max-height: 95%; max-width:95% ">
            </div>
            
            
    
    <script>
    $('#t-shirt').click(function() {
        $('#img-holder').attr('src','../images/graphics/graphics/Eweek2018_onshirt.jpg');
        $('#graphic-modal').show();
    });    
    
    $('.graphic').click(function() {
        $('#img-holder').attr('src',$(this).attr('src'));
        $('#graphic-modal').show();
    });
        
    $('.geofilter').click(function() {
        $('#img-holder').attr('src',$(this).attr('src'));
        $('#graphic-modal').show();
    });
    
    $('#graphic-close').click(function() {
        $('#graphic-modal').hide();
    });
    
    </script>          
        </div>
    </div>