<div id = "Resume" class = "container" style = "padding-top: 50px; padding-bottom:  30px">
    <div class = "row">
    <div class = "col-sm-10 col-sm-push-1">
        
        <p class = "resume-title"><strong style = "font-size:18px">EDUCATION</strong></p>
        <p><strong>Santa Clara University</strong> - Santa Clara, CA (September 2014-June 2018)</p>
        <p>Bachelor of Science in Electrical Engineering  (minor in Computer Engineering)</p>     	              	
        <p>Cumulative GPA: 3.94, Major GPA: 3.97</p>
        <br>
        <p><strong>Relevant Coursework</strong></p>
        <p>Introduction to Logic Design, Electric Circuits I, Electric Circuits II, Linear Systems, Advanced Programming in C, Abstract Data Types and Data Structures, Advanced Data Structures in C++, Linear Systems, Electronic Circuits I</p>
    <br>
<p style = "resume-title"><strong style = "font-size:18px">TECHNICAL SKILLS</strong></p>
    <ul>
        <li>Languages: C, C++, Java. Experience with Python</li>
        <li>Web Development: HTML, CSS, Javascript, Bootstrap,  jQuery. Experience with PHP, MySQL, AngularJS</li>
        <li>Graphic Design / UI: Adobe Illustrator, Adobe Photoshop</li>
        <li>Experience with circuit logic design, Arduinos, Raspberry Pis, Oscilloscopes, MATLAB, Sketchup, and Altera boards</li>
    </ul>
 <br>
<p class = "resume-title"><strong style = "font-size:18px">PROJECTS</strong></p>
        <ul>
            <li>Created a web application to ease scheduling and the process of finding a replacement for teaching assistants</li>
            <ul><li>Wrote the HTML, CSS, Javascript, and some of the PHP for the app</li></ul>
            <li>Created a wireless communication system that utilizes visible light communication to pass data through the LED headlights of vehicles</li>
            <ul><li>Designed and built the LED driver circuit and light receiver circuit, implementing them on breadboards</li>
            <li>Controlled both the transmitter and receiver with Arduinos</li>
            </ul>
            <li>Currently working on a project to build IOT flood monitoring nodes for the government of the city of San Jose</li>
            <ul><li>It utilizes a Raspberry Pi and sensors to collect data from rivers about the potential of flooding</li>
            <li>Working as the head of the wireless communication team, implementing LoRa on the Raspberry Pis</li></ul>
        </ul>
 <br>
<p class = "resume-title"><strong style = "font-size:18px">WORK EXPERIENCE</strong></p>
<p>Software Engineer Intern at Arris (June – September 2016)</p>
<ul>
<li>Worked on the research and development team - designing, implementing, unit-testing, and debugging for Arris telco gateways (in C)</li>
<li>Wrote standalone scripts in C++ and Python to sort and collect usage data of phrases within the web UIs</li>
<li>Lead the effort to implement Bootstrap on the web UIs for Frontier remote gateways, which will be pushed to > 1 million devices when shipped</li>
</ul>

<p>Product Engineer Intern at BaseVenture Digital Fund Management (June – September 2016)</p>
<ul>
    <li>Worked on the product team at BaseVenture, helping design and structure pages of the platform</li>
    <li>Created mock ups on Adobe Illustrator</li>
    <li>Wrote scripts in C++ to automate the creation of fake user data for demos</li>
</ul>
  <br>
<p class = "resume-title"><strong style = "font-size:18px">AWARDS AND HONORS</strong></p>
<ul>
<li>Honors Program, Santa Clara University</li>
<li>Member of Tau Beta Pi, Santa Clara University</li>
<li>Carl H. Hayn Physics Prize: Awarded annually to the most outstanding student in the Physics for Scientists and Engineers sequence at Santa Clara University</li>
<li>School of Engineering Dean’s List, Santa Clara University (2015, 2016, 2017)</li>
<li>Valedictorian of Junipero Serra High School (2014)</li>
</ul>        
        </div>
    </div> 
        <div class = "btn-wrapper" style="padding-top: 60px; padding-bottom: 20px"><button id ="download-resume"><b>DOWNLOAD RESUME</b></button></div>    
    </div>